@import '../../assets/stylesheets/mixins';
@import '../../assets/stylesheets/variables';

.gpos-panel {
  display: flex;
  flex-direction: column;

  &__img-thumb {
    display: none;

    &--no-stats {
      height: 16px;
      margin-right: 4px;
    }
  }

  &__btn {
    @include transition(background .2s ease);

    margin-bottom: 45px;
    background: $gpos-green;

    &:hover {
      background: $gpos-green-hover;
    }

    &--no-stats {
      display: flex;
      margin-bottom: 10px;
    }
  }

  &__title {
    font-weight: 600;
  }

  &__desc {
    margin-bottom: 47px;

    &-txt {
      display: initial;
    }

    &-link {
      color: #5eb5f2;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__stats {
    &-balance, &-perf, &-percent, &-potential {
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;
    }

    &--right {
      right: 0;
      color: $green3;
    }
  }
}
