.card {
  margin-bottom: 1rem;
  border: none;
  border-radius: 0;

  > h4 {
    margin: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  > .card-content {
    margin: 1rem;
  }
}

.card-section .text-group {
  text-align: left;
}

.account-card {
  padding: 0 1rem 0 0 !important;

  .balances {
    margin: 0;
    margin-left: 78px;
    padding: 0;
    list-style: none;
  }

  cursor: pointer;

  &.worker-card {
    cursor: auto;
  }
}

.card:hover {
  border: none;
}

.card a > div:first-child {
  padding: 5px;
  text-align: center;
}


.asset-card {
  margin: 0 0 2rem;
  padding: 0 1rem 0 0 !important;

  .card-divider {
    margin-bottom: 1rem;
  }
}
