#chatbox {
  z-index: 30;
  font-size: 12px;
  color: #818479;

  &.chat-floating {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 0;
    width: auto;
    direction: ltr;
  }

  &.chat-docked {}

  select,
  input {
    height: 2rem;
    font-size: 12px;
  }

  a {
    color: #2a9d8f;
    text-decoration: none;
    text-shadow: none;
  }

  .toggle-controlbox {
    float: right;
    height: 100%;
    margin: 0 .5em;
    padding: 10px 16px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: #2196f3;
    letter-spacing: 2px;
  }

  .chatbox {
    float: right;
    width: 350px;
  }

  .flyout {
    position: absolute;
    right: 5px;
    bottom: 6px;
    z-index: 1;
    width: 350px;
    min-width: 200px;
    height: 350px;
    min-height: 225px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, .4);
  }

  .docked {
    z-index: 1;
    min-width: 200px;
    background-color: #ffffff;
    box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, .4);
  }

  .chatbox-title {
    padding: 8px 5px;
    border-bottom: 1px solid grey;
    font-weight: bold;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
  }

  .chatbox-close {
    position: absolute;
    /* top: 1rem; */
    top: 4px;
    right: 10px;
    line-height: 1;
    font-size: 1.25em;
    color: white;
    cursor: pointer;
  }

  .chatbox-content {
    > .grid-content {
      padding: 3px 13px 3px 10px;
    }
  }

  .chatbox-settings {
    position: absolute;
    top: 4px;
    right: 35px;
    cursor: pointer;
  }

  .chatbox-pin {
    position: absolute;
    top: 4px;
    right: 60px;
    cursor: pointer;

    > span.rotate > svg {
      transform: rotate3d(0, 0, 1, 90deg);
    }
  }

  .settings-title {
    padding-bottom: 8px;
  }

  .chat-text {
    overflow-wrap: break-word;
  }
}
