div.fm-container {
  min-width: 13rem;
  padding: 0.5rem;

  &:hover {
    background-color: #d8d8d8;
    cursor: pointer;
  }

  .fm-title,
  .fm-volume,
  .fm-change {
    font-size: 0.85rem;
  }

  .fm-name {
    font-weight: bold;
  }

  .fm-volume {
    padding-top: 8px;
  }

  .fm-change {
    padding-top: 4px;
  }
}
