.footer {
  vertical-align: middle;
  height: 36px;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  line-height: 36px;
  color: #ffffff;
  background-color: #777777;

  a {
    text-decoration: underline;
  }

  .logo {
    line-height: 2rem;
    font-size: 1.1rem;

    .version {
      vertical-align: baseline;
      font-size: 75%;
    }
  }
}