.pagination {
  display: inline-block;
  margin: 20px 0;
  padding: 1rem;
}


.pagination > li {
  display: inline;
  padding: 1rem;
  border: 0 solid #dddddd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:first-child {
    margin-left: 0.2rem;
    cursor: pointer;
  }

  &:nth-child(2) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0.2rem;
    margin-left: 0;
    cursor: pointer;
  }

  > input {
    display: inline;
    width: 4rem;
    margin: 0;
    border: none;
  }
}
