@import 'theme-template';

// variables

$light-text-color: #ffffff;
$dark-text-color: #444444;
$primary-text-color: #e0e0e0;
$secondary-text-color: darken($primary-text-color, 20%);
$link-text-color: #4a90e2;
$error-text-color: #e3745b;

$bg-color: #2a2a2a;
$panel-bg-color: #3f3f3f;
$light-panel-bg-color: #6a6a6a;
$super-light-panel-bg-color: lighten($light-panel-bg-color, 8%);
$button-bg-color: #4a90e2;
$secondary-button-bg-color: #999999;

$alert-color: $error-text-color;
$info-color: #a0d3e8;
$success-color: #50d2c2;
$warning-color: #fcab53;
$fee-color: $secondary-text-color;

// Exchange colors
$bid-color: #50d2c2;
$ask-color: #e3745b;
$call-color: #bbbf2b;
$positive-color: #6ec105;
$negative-color: #e1424a;
$row-accent-color: #3c3c3c;
$header-color: #484848;

// Chat colors
$chat-text-color: #191a1f;

.darkTheme {
  @include theme($primary-text-color,
  $bg-color,
  $dark-text-color,
  $link-text-color,
  $light-text-color,
  $secondary-text-color,
  $success-color,
  $info-color,
  $warning-color,
  $alert-color,
  $super-light-panel-bg-color,
  $panel-bg-color,
  $button-bg-color,
  $secondary-button-bg-color,
  $fee-color,
  $bid-color,
  $ask-color,
  $call-color,
  $light-panel-bg-color,
  $positive-color,
  $negative-color,
  $row-accent-color,
  $header-color,
  $chat-text-color);
}
