@import 'theme-template';

// variables


$primary-text-color: darken(#3d3d3d, 10%);
$secondary-text-color: lighten($primary-text-color, 22%);
$light-text-color: #3d3d3d;
$dark-text-color: lighten($light-text-color, 12%);
$link-text-color: #337ab7;
$error-text-color: #e3745b;

$bg-color: #ffffff;
$panel-bg-color: #e5e6e4;
$light-panel-bg-color: #ffffff;
$super-light-panel-bg-color: darken($light-panel-bg-color, 1%);
$button-bg-color: #2196f3;
$secondary-button-bg-color: #999999;

$alert-color: $error-text-color;
$info-color: #ce7925;
$success-color: #21d19f;
$warning-color: #f35b92;
$fee-color: #7f055e;

// Exchange colors
$bid-color: #258a14;
$ask-color: #e3745b;
$call-color: #bbbf2b;
$positive-color: #6ec105;
$negative-color: #e1424a;
$row-accent-color: #ffffff;
$header-color: #dcdcdc;

// Chat colors
$chat-text-color: #191a1f;

.lightTheme {
  @include theme($primary-text-color,
  $bg-color,
  $dark-text-color,
  $link-text-color,
  $light-text-color,
  $secondary-text-color,
  $success-color,
  $info-color,
  $warning-color,
  $alert-color,
  $super-light-panel-bg-color,
  $panel-bg-color,
  $button-bg-color,
  $secondary-button-bg-color,
  $fee-color,
  $bid-color,
  $ask-color,
  $call-color,
  $light-panel-bg-color,
  $positive-color,
  $negative-color,
  $row-accent-color,
  $header-color,
  $chat-text-color);

  .blocktrades-bridge input,
  .blocktrades-bridge select {
    border: 1px solid $secondary-text-color;
    color: $secondary-text-color;
    background-color: $bg-color !important;

    &:hover,
    &:focus {
      //box-shadow: 1px 2px 3px #000;
      border: 2px solid #000000;
      color: $primary-text-color;
    }
  }
}
