.page-layout {
  > .grid-block {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    > .grid-content,
    > .grid-block {
      padding: 10px;
    }
  }

  .left-column {
    background-color: #fafafa;
  }

  .main-content {
    background-color: #f3f3f3;
  }

  .right-column {
    background-color: #eaeaea;
  }

  .regular-padding {
    padding: 1rem 1.75rem !important; /* stylelint-disable-line declaration-property-unit-whitelist */ /* stylelint-disable-line  declaration-no-important */
  }
}

#account-notify {
  position: absolute;
  top: auto !important; /* stylelint-disable-line declaration-no-important*/
  right: 0.5em;
  width: 30em; /* stylelint-disable-line declaration-property-unit-whitelist */
}

@media (max-width: 1100px) {
  .hide-column-small {
    display: none !important; /* stylelint-disable-line declaration-no-important*/
  }
}

div.bordered-header {
  padding-top: 0.55rem; /* stylelint-disable-line declaration-property-unit-whitelist */
  padding-left: 10px;
  font-weight: 500;
  font-size: 1.1rem; /* stylelint-disable-line number-no-trailing-zeros */
  text-transform: uppercase;
  overflow: hidden;
}

.exchange-bordered {
  border: 1px solid rgba(183, 183, 183, 0.29);

  div:first-child &, div:last-child & {
    margin: 0 10px;
  }
}
