.chart__wrap {
  padding: 30px;
}

.chart__title {
  margin: 0 0 10px;
  font-size: 16px;
  color: $text-color2;
  text-align: center;
}

.highcharts-tooltip {
  z-index: 1;

  .text {
    line-height: 12px;
    font-size: 10px;
    color: $faded-color;
    text-transform: uppercase;
  }

  .num {
    line-height: 12px;
    font-size: 10px;
    color: $clear-color;
  }
}
