.dd {
  position: relative;

  &.open {
    & > .ddMenu {
      opacity: 1;
      visibility: visible;
    }

    .ddTrigger::after {
      @include transform(rotate(180deg));
    }

    .ddTrigger__icon {
      &::before {
        @include transform(rotate(180deg));
      }
    }
  }

  &-hover {
    &:hover {
      .ddMenu {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &Trigger {
    display: block;
    position: relative;
    padding-right: 15px;
    cursor: pointer;

    &-hover {
      &:hover {
        & ~ .ddMenu {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &::after {
      content: '\e901';
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 2px;
      margin-top: -2px;
      line-height: 5px;
      font-family: icomoon, sans-serif;
      font-size: 5px;
      color: $aside-title-color;
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: -20px;
      margin-top: -11px;
      font-size: 20px;
      color: #d5d5d5;

      @include transition(color .2s ease);

      &::before {
        display: inline-block;
      }
    }

    &__label {
      margin-bottom: 5px;
      font-size: 12px;
      color: #9a999b;
    }

    &__labeled {
      padding-bottom: 10px;
      font-size: 16px;
      color: $clear-color;
    }
  }

  &Menu {
    position: absolute;
    top: 100%;
    //left: 0;
    right: -20px;
    z-index: 1;
    width: 100%;
    background: $clear-color2;
    background: $dd-bg;
    opacity: 0;
    visibility: hidden;

    @include border-radius();
    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.15));

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 1;
      background: rgba(0, 0, 0, .5);
    }

    &__list {
      max-height: 400px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    &__item {}

    &__link {
      display: block;
      padding: 12px 20px;
      font-size: 14px;
      color: $text-color-bg;
      cursor: pointer;

      &:hover {
        background: rgba($text-color-bg, .1);
      }
    }

    &__icon {
      float: left;
      width: 30px;
      font-size: 15px;

      & + span {
        display: block;
        overflow: hidden;
      }

      &.chart {
        padding-top: 3px;
        font-size: 10px;
      }

      &.close {
        padding-top: 2px;
        font-size: 12px;
      }
    }

    .aside__balanceUnit & {
      right: 0;
      left: auto;
      min-width: 150px;
      margin-top: 10px;
      text-align: right;
    }
  }
}
