.footerlogo{
	margin: auto;
    width: 25%;
    align-items: center;
    display: flex;
    padding-top:30px;
}


.footercopyright{
    color: #3d4459;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
}

.footerText {
    color: #3a3b44;
}