.form {
  //padding: 0 $inXPad 30px;
  padding: 0 75px 30px;
}

.row {
  display: block;
  position: relative;
  margin-bottom: $row-margin;

  &:first-of-type:last-of-type {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.row2 {
  display: block;
  position: relative;
  margin-bottom: 35px;

  &:first-of-type:last-of-type {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.row3 {
  margin-bottom: 50px;

  &:first-of-type:last-of-type {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.row4 {
  margin-bottom: 14px;

  &:first-of-type:last-of-type {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.row5 {
  margin-bottom: 5px;

  &:first-of-type:last-of-type {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.row6 {
  margin-bottom: 8px;

  &:first-of-type:last-of-type {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.row7 {
  margin-bottom: 10px;
}

.field {
  &Wrap {
    position: relative;

    &-question {
      margin-bottom: 20px;

      .field {
        padding-left: 60px;
      }
    }
  }

  &Pic {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    width: 55px;
    margin: auto;
    line-height: 52px;
    text-align: center;
  }

  &Pic2 {
    position: absolute;
    top: 9px;
    left: 13px;
    width: 33px;
  }

  &Icon {
    vertical-align: middle;
    font-size: 26px;
    color: $field-icon-color;
  }

  &Search {
    &__wrap {
      margin: -10px 0 0 50px;

      &.focus {
        .fieldSearch__icon {
          right: auto;
          left: 20px;
        }

        .fieldSearch__clear {
          display: block;
        }

        .fieldSearch__sbm {
          right: auto;
          left: 0;
        }

        .field {
          padding-left: 70px;
          border-color: $color-second;
        }
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -13px;
      font-size: 27px;
      color: $color-second;
    }

    &__sbm {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 50px;
      height: 100%;
      font-size: 27px;
      color: $text-color2;
      opacity: 0;
    }

    &__clear {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      line-height: 50px;
      text-align: center;
      opacity: .2;

      &:hover {
        opacity: .6;
      }

      &Icon {
        font-size: 13px;
        color: $clear-color;
      }
    }
  }

  &HelpIcon {
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 52px;
    font-size: 25px;
    color: $faded-color;
  }

  &Note {
    padding: 5px 20px;
    font-size: 13px;
    color: $text-color2;
    text-align: right;

    &.stack {
      margin-bottom: -26px;
    }
  }
}

.label {
  display: block;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 13px;
  color: $label-color;

  &-fsz-lg {
    font-size: 16px;
  }

  &-fsz-sm {
    padding-bottom: 2px;
    font-size: 12px;
  }

  &-c-gray {
    color: $faded-color;
  }

  &__passRec {
    margin: 50px -40px 0;
    font-size: 16px;
    color: $faded-color;
    text-align: center;
  }

  &__passRec02 {
    font-weight: 400;
  }

  .dialog-login &,
  .modal & {
    //color: $text-color;
    color: #787e83;
  }
}

.label2 {}
