.jq-selectbox {
  width: 100%;

  &.opened {
    .jq-selectbox__select {
      @include border-radius(3px 3px 0 0);
    }
  }

  &.dropup {
    .jq-selectbox__dropdown {
      border-top: none;
      border-bottom: 1px solid $field2-bd-color;

      @include box-shadow(0 -6px 20px rgba(0, 0, 0, 0.05));
    }
  }

  &__select {
    width: 100%;
    height: 50px;
    padding: 0 18px;
    border: none !important;
    font-weight: 500;
    font-size: 18px;
    color: $text-color;
    background: $clear-color2 !important;
    text-shadow: none;

    @include border-radius(3px);
    @include transition(all .15s ease);
    @include box-shadow(0 5px 20px rgba(0, 0, 0, 0.05));

    &-text {
      width: 100% !important;
      line-height: 50px;
    }

    .bd & {
      border: 1px solid #818b95 !important;

      @include box-shadow(none);
    }
  }

  &__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 31px;
    height: 100%;
    border-left: none;
    line-height: 50px;
    font-size: 6px;
    color: $text-color;

    &::before {
      content: '\e901';
      display: block;
      font-family: icomoon, sans-serif !important;
    }

    &-arrow {
      display: none;
    }

    .two-arrow & {
      &::before {
        content: '\e901';
        display: block;
        position: absolute;
        top: 0;
        margin-top: 4px;
        font-family: icomoon, sans-serif !important;
      }

      &::after {
        content: '\e901';
        display: block;
        position: absolute;
        top: 0;
        margin-top: -4px;
        padding: 0 1px;
        font-family: icomoon, sans-serif !important;
        text-align: right;

        @include transform(rotate(180deg));
      }
    }
  }

  &__dropdown {
    @include box-shadow(0 6px 20px rgba(0, 0, 0, 0.2));

    top: 100% !important;
    border-top: 1px solid $field2-bd-color;
  }

  ul {
    max-height: 200px;
  }

  li {
    padding: 10px 18px;
    font-size: 16px;
    color: $text-color;
    background: $clear-color2;

    @include transition();

    &:hover {
      color: $text-color;
      background: $gray-color2 !important;
    }

    &.selected {
      color: $text-color;
      background: $clear-color2;
    }

    &.disabled {
      background: transparent !important;
      cursor: default;
    }
  }
}

.select2 {
  .jq-selectbox__select {
    border: 1px solid $select-bd-color !important;
  }

  .jq-selectbox__dropdown {
    margin-top: -1px;
    border: 1px solid $select-bd-color !important;
  }
}
