.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1056;
  opacity: 0;
  overflow: hidden;

  @include transition();

  &.fade {
    opacity: 0;
  }

  &.in {
    opacity: 1;
  }

  &-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1055;
    background-color: $clear-color;
    @include transition();

    &.fade {
      opacity: 0;
    }

    &.in {
      opacity: 0.5;
    }

    &.white {
      background-color: #ffffff;
    }
  }

  &-open {
    overflow: hidden !important;
  }

  &-dialog {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    z-index: 1050;
    width: 100% !important;
    height: 90%;
    margin: 0;
    overflow: hidden;

    &AlignOut {
      @include va_middle_out;
      position: relative;
      height: 100%;
      text-align: center;
    }

    &AlignIn {
      @include va_middle_in;

      padding: 10px 0;
      line-height: 1.25;
      font-size: 13px;
    }

    .modalContent {
      color: $black;

      .modalLabel {
        font-size: 20px;
      }

      .modalValue {
        display: inline-block;
        margin-left: 25px;
        font-weight: bold;
        font-size: 15px;
      }

      .modalReceiver,
      .modalSender {
        display: inline-block;
        margin-bottom: 25px;
      }

      .modalDate,
      .modalConfirm {
        display: inline-block;
        margin-top: 10px;
      }

      .modalMessage {
        max-height: 50vh;
        padding: 25px;
        background-color: $gray4;
        overflow-y: scroll;
      }

      p {
        display: inline;
        padding: 10px;
      }
    }

    &Content {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 730px;
      max-width: 100%;
      padding: 30px 50px 40px;
      text-align: left;
      background: $clear-color2;
      -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);

      @include border-radius(2px);

      &-w400 {
        width: 400px;
        max-width: 100%;
      }

      &.w-900 {
        width: 900px;
        max-width: 100%;
        max-height: 90vh;
        padding: 0;
        overflow: hidden;
      }

      &-type02 {
        @include border-radius(10px);
        -webkit-box-shadow: 0 9px 30px rgba(0, 0, 0, 0.25);
        box-shadow: 0 9px 30px rgba(0, 0, 0, 0.25);

        .modalTitle {
          font-size: 20px;
          text-align: center;
        }

        .btn {
          min-width: 200px;
        }
      }
    }
  }

  &Close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    font-size: 13px;
    color: rgba(0, 0, 0, .3);
    @include transition();

    &:hover {
      color: rgba(0, 0, 0, .8);
    }
  }

  &Title {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-prime;
    font-family: $ff-main;
    font-weight: 400;
    font-size: 24px;
    color: $clear-color;

    &.help {
      margin-bottom: 0;
      padding-top: 20px;
      padding-left: 50px;
    }
  }

  &Body {
    &-text-body {
      padding: 30px 50px 40px;
    }
  }

  &Footer {
    margin: 20px 0 0;
    padding-top: 10px;
    overflow: hidden;
  }
}

//modal Confirm
.mConf {
  &__content {
    padding: 10px 0 20px;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    color: $color-second;
    text-transform: uppercase;
  }

  &__table {
    &Row {
      padding: 0 30px 0 10px;
      line-height: 38px;
      font-weight: 600;
      font-size: 16px;
      overflow: hidden;

      &:nth-child(odd) {
        background: rgba($color-second, .05);
      }
    }

    &Left {
      float: left;
      width: 50%;
      color: rgba($text-color, .5);
    }

    &Right {
      float: left;
      width: 50%;
      color: $text-color;
      text-align: right;
    }
  }
}
