.nav {
  min-width: 450px;
  height: 100%;
  overflow: hidden;

  &__right {
    float: right;
    padding-left: 30px;
    white-space: nowrap;

    .nav__linkIcon {
      color: $faded-color;
    }

    .nav__link {
      margin-right: 0;
      margin-left: 5px;
      padding: 0 20px;
    }

    & > .nav__link {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &-bd {
    padding: 0 2% !important; /* stylelint-disable-line */
    border-right: 1px solid $menu-limiter-color;
    border-left: 1px solid $menu-limiter-color;

    .bb {
      display: block;
      position: relative;
      height: 100%;
      line-height: 54px;
    }

    & + & {
      border-left: none;
    }
  }

  &-bdl {
    padding: 0 25px;
    border-left: 1px solid $menu-limiter-color;
  }

  &__item {
    white-space: nowrap;

    .nav__link {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    .nav__link + .nav__link {
      padding-left: 35px;
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    margin-right: 25px;
    padding: 0 1%; /* stylelint-disable-line */
    line-height: 52px;
    font-weight: 500;
    color: $faded-color;

    &:last-child {
      margin-right: 0;
    }

    &Align {
      line-height: 1.25;
      font-size: 0.9375rem;
      white-space: nowrap;
    }

    &Icon,
    &Icon-filled {
      vertical-align: middle;
      height: $headerHeight;
      padding-right: 4px;
      line-height: $headerHeight;
      font-size: 22px;
      color: $nav-icon-color;

      &.icon-funds,
      &.icon-funds-filled {
        font-size: 14px;
      }
    }

    &Icon {
      display: inline-block;
    }

    &Icon-filled {
      display: none;
    }

    &Text {
      display: inline-block;
      vertical-align: middle;
    }

    &:hover {
      color: $text-color;

      &.bb::before,
      .bb::before {
        width: 100%;
      }

      .nav__linkIcon-blank {
        display: none;
      }

      .nav__linkIcon-filled {
        display: inline-block;
      }
    }

    &:active,
    &.active {
      color: $text-color;

      &.bb::before,
      .bb::before {
        width: 100%;
      }

      .nav__linkIcon-blank {
        display: none;
      }

      .nav__linkIcon-filled {
        display: inline;
      }
    }
  }

  .bb::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    margin: auto;
    border-radius: 3px 3px 0 0;
    background: $nav-active-bg;

    @include transition(all 0.15s ease-out);
  }
}

.notice {
  &__wrap {
    display: inline-block;
    position: relative;
  }

  &__num {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 17px;
    height: 17px;
    line-height: 17px;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background: #fe3740;

    @include border-radius(50%);
  }

  &__itemsBox {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
  }

  &__item {
    display: none;
    position: relative;
    width: 450px;
    padding: 10px 40px 7px 20px;
    border-bottom: 1px solid #d5d6e3;
    font-size: 13px;
    color: $new-blue;
    background: #ffffff;
    white-space: normal;

    @include border-radius();

    &.active {
      display: block;
    }

    &:first-child {
      @include border-radius(3px 3px 0 0);
    }

    &:last-child {
      @include border-radius(0 0 3px 3px);

      border-bottom: none;
    }

    &:first-child:last-child {
      @include border-radius();
    }

    &Title,
    h1 {
      margin-bottom: 2px;
      font-weight: 500;
      font-size: 13px;
      color: $new-blue;
      letter-spacing: .05px;
    }

    &Link,
    a {
      max-width: 100%;
      margin-bottom: 2px;
      font-weight: 500;
      font-size: 13px;
      color: $color-second;
      //@include ellipsis;
      //display: inline-block;
      @include transition();

      &:hover {
        opacity: .6;
      }
    }

    &Close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 10px;
      color: rgba($new-blue, .2);

      @include transition();

      &:hover {
        color: rgba($new-blue, .6);
      }
    }
  }
}
