.customRadio__label {
  display: block;
  margin: 0;
  cursor: pointer;

  @include user-sel-n;

  &.inline {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
  }

  &Relative {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    float: left;
    margin-top: 2px;
    line-height: 0;
    font-size: 0;
  }

  &Pseudo {
    display: block;
    padding: 10px 0 0 10px;
    padding-top: 3px;
    font-weight: 500;
    font-size: 20px;
    color: $text-color-bg;
    overflow: hidden;
  }
}

.customRadio__check {
  width: 30px;
  height: 30px;
  opacity: 0;
  visibility: hidden;

  &:checked + .customRadio__checkPseudo::before {
    opacity: 1;

    @include border-radius(50%);
  }

  &Pseudo {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 2px solid $color-second;
    background: #ffffff;

    @include border-radius(50%);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      margin: -6px 0 0 -6px;
      background: $color-second;
      opacity: 0;

      @include border-radius(0);
      @include transition();
    }
  }
}
