//temp style, need to del when styles update
#content {
  height: 100%;
}

.Select {
  position: relative;

  &-control {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 50px;
    padding: 0 18px;
    border: none !important;
    font-weight: 500;
    font-size: 18px;
    color: $text-color;
    background: #ffffff !important;
    text-shadow: none;

    @include border-radius(3px);
    @include transition(all .15s ease);
    @include box-shadow(0 5px 20px rgba(0, 0, 0, 0.05));
  }

  &-clear-zone {
    display: none;
  }

  &-input {
    opacity: 0;
  }

  &-multi-value-wrapper {
    display: block;
    height: 100%;
  }

  &-placeholder {
    line-height: 50px;
  }

  &-arrow-zone {
    position: absolute;
    top: 0;
    right: 0;
    width: 31px;
    height: 100%;
    border-left: none;
    line-height: 50px;
    font-size: 6px;
    color: $text-color;
  }

  &-arrow {
    &::before {
      content: '\e901';
      display: block;
      font-family: icomoon, sans-serif !important;
    }
  }

  &-value {
    height: 100%;
    cursor: pointer;

    &-label {
      line-height: 50px;
    }
  }

  &-menu-outer {
    position: absolute;
    top: 100% !important;
    left: 0;
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: #ffffff;
    -webkit-overflow-scrolling: touch;
    //max-height: 200px;
    @include box-shadow(0 6px 20px rgba(0, 0, 0, 0.05));
  }

  &-menu {
    max-height: 190px;
    overflow-y: auto;
  }

  &-option {
    display: block;
    padding: 10px 18px;
    font-size: 16px;
    color: $text-color;
    background: #ffffff;
    cursor: pointer;

    @include transition();

    &:hover {
      color: $text-color;
      background: #ececec !important;
    }
  }

  &-option.is-selected {
    color: $text-color;
    background: #ffffff;
  }

  &-option.is-focused {
    color: $text-color;
    background: #ececec !important;
  }

  &-option.is-disabled {
    color: #cccccc;
    background: transparent !important;
    cursor: default;
  }

  &-noresults {
    display: block;
    padding: 8px 10px;
    color: #999999;
    cursor: default;
  }
}

.select2 {
  .Select-control {
    border: 1px solid $select-bd-color !important;
  }

  .Select-menu-outer {
    margin-top: -1px;
    border: 1px solid $select-bd-color !important;
  }
}
