.ReactTabs {
  padding-top: 10px;

  &.pt40 {
    padding-top: 40px;
  }

  &__TabList {
    @include clearfix;

    overflow: hidden;

    &.pt40 {
      padding-top: 40px;
    }

    &[role=tablist] {
      margin: 0;
      padding: 0;
      border: none;
    }
  }

  &__Tab {
    &::first-letter {
      text-transform: uppercase;
    }

    &[role=tab] {
      display: block;
      bottom: 0;
      float: left;
      min-width: 13%;
      //width: 250px;
      height: 52px;
      margin-right: 17px;
      padding: 0 10px;
      border: none;
      border-radius: 5px 5px 0 0;
      line-height: 52px;
      font-weight: 500;
      font-size: 18px;
      color: $tab-color;
      text-align: center;
      background: $tab-bg;

      @include transition();

      &:hover {
        opacity: .6;
      }

      &[aria-selected=true] {
        color: $tab-color-active;
        background: $tab-bg-active;
        box-shadow: $table-shadow;
        opacity: 1;
        cursor: default;
      }
    }


    &Panel {}
  }
}



.tab__deploy {
  display: block;
}
