.tooltip {
  display: inline-block;
  vertical-align: top;
  min-width: 16px;
  min-height: 16px;
  font-size: 16px;
  color: $color-second;
  cursor: pointer;

  &-posRight {}
}

.tooltipster-sidetip .tooltipster-box {
  position: relative;
  border-radius: 10px !important;
}

.tooltipster-sidetip .tooltipster-content {
  padding: 20px 35px !important;
}

.tooltipsterIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: #ffffff;
}

.tooltipster-light {
  .tooltipster-box {
    background: rgba($color-second, .9) !important;
    border-color: $color-second !important;
  }

  .tooltipster-content {
    font-size: 12px !important;
    color: #ffffff !important;
  }
}

//backup
//.tooltip-backup.tooltipster-right{
//	margin: 74px 0 0 -33px !important;
//}
.tooltipster-backup {
  width: 410px !important;
  height: 186px !important;
}
