.tooltip__wrap {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 8px;
}

.tooltip__trigger {
  display: block;
  min-width: 16px;
  min-height: 16px;
  font-size: 16px;
  color: $color-second;
  cursor: pointer;
}

.tooltip__menu {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 100;
  width: 400px;
  padding: 20px 35px;
  border-radius: 10px;
  line-height: 1.25;
  font-size: 12px;
  color: #ffffff;
  background: rgba($color-second, .9);
  border-color: $color-second;

  &-posRight {}

  &Icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #ffffff;
  }
}
