// Hacks that should get cleaned up and put in appropriate files within the stylesheet layout
// http://sass-guidelin.es/#shame-file

#content.win32 {
  font-size: 90%;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1rem;
  }
}

a {
  transition: all 0.3s ease 0s;
}

// border is needed when centering
// input[type="file"] did not work
input[type='file'] {
  border: 'solid';
}

hr {
  height: 1px;
  border: none;
  background-color: #333333;
}

.error {
  color: #ff0000;
  //padding: 16px;
}

.reactTooltip {
  z-index: 10000;
}

.no-overflow {
  overflow: hidden;
}

//padding: "2rem 0 2rem 0"  Using top and bottom padding prevents
//unnecessary scroll bars but does not disable them for future use.
.no-overflow-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.center-content {
  text-align: center;

  > * {
    margin-right: auto;
    margin-left: auto;
  }
}

.flex-start {
  align-items: flex-start;
}

.cursor-pointer {
  cursor: pointer;
}

a>.label {
  cursor: pointer;
}

.block-button {
  display: block;
}

button,
.button {
  //margin: 2px 5px 2px 5px;
  vertical-align: middle;
  transition: all 0.3s ease 0s !important;

  &.outline {
    &:hover,
    &:focus,
    &:active {
      background: none !important;
    }

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #555555;
    background: none;
  }
}

td > button:first-child,
td > .button:first-child,
div > button:first-child,
div > .button:first-child {
  margin-left: 0;
}

.notification {
  top: 50px !important;
  padding: 1rem !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-radius: 0 !important;
  font-size: 100% !important;
  border-left-width: 4px !important;
  border-left-style: solid !important;
}


.content-block {
  margin-bottom: 2rem;

  > h3,
  .recent-transactions > h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #444444;
    font-size: 2rem;
  }

  .actions {
    padding: 1rem 0;
  }
}

.no-border {
  border: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.page-header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #444444;

  h3,
  h1 {
    margin: 0;
    padding: 1rem 0;
  }

  h3 {
    font-size: 2rem;
  }

  h1 + h3 {
    padding-top: 0;
  }
}

table > tbody > tr.control-row > td {
  vertical-align: middle;
  padding-top: 1rem;
  border-bottom: none;

  input {
    display: inline-block;
    margin-right: 8px !important;
    padding-top: 0;
    padding-bottom: 0;
  }

  > label {
    margin: 0;
  }

  > input {
    margin-right: 2rem !important;
  }
}

.modal {
  max-width: 700px;
  border-radius: 0;
}

div.modal {
  overflow: visible !important;
}

.overflow-visible {
  overflow: visible;
}

.full-width-content>* {
  width: 100%;
}

.op-table>tbody>tr>td:first-child {
  min-width: 12rem;
}

.button-group>.button {
  margin: 0 1rem 1rem 0;
}

.empty-identicon {
  border: 1px solid #008cba;
}

div.disabled * {
  opacity: 0.8 !important;
  cursor: default !important;
  pointer-events: none !important;
}

div.disabled input {
  background-color: #444444;
}

.modal-header {
  > h3,
  > h6 {
    margin-bottom: 0;
  }

  margin-bottom: 1rem;
}

.memo {
  font-size: 0.9rem;
}

.notresolved {
  border: 1px solid red;
}

.resolved {
  border: 1px solid green;
}

.invoice {
  .item-name {
    padding: 0.2rem 0;
  }

  .item-description {
    padding: 0.2rem 0;
    font-size: 90%;
  }
}

span.time {
  white-space: nowrap;
}

section>ul>li.key-value {
  padding: 0.5rem 1rem;
}

label.inline {
  display: inline;
}

.blocks-row {
  >div.grid-block {
    padding-bottom: 0 !important;
  }
}

.electron-only {
  display: none;
}

.electron-only {
  visibility: hidden;
}

#content.electron {
  visibility: visible;
}


.Popover-body {
  display: inline-flex;
  flex-direction: column;
  max-width: 50rem;
  padding: 1rem 2rem;
  border-radius: 0.05rem;
  color: white;
  background: hsl(0, 0%, 32%);

  .help-content h3 {
    color: white;
  }
}

.Popover-tipShape {
  fill: hsl(0, 0%, 32%);
}

.click-for-help {
  border-bottom: 1px dotted #777777;
  cursor: help;
}

.asset-flag .label {
  margin-right: 0.5rem;
  margin-bottom: 0.4rem;
}

.markets-view-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 90;
}

.small-caps {
  font-size: 85%;
  font-variant: small-caps;
}

.tooltip:hover {
  font-weight: bold;
  cursor: help;
}

.__react_component_tooltip {
  z-index: 2000 !important;
  border: 1px solid grey;
}

.asset-prefix-replaced {
  font-variant: small-caps;
}

select {
  line-height: normal !important;
}

select.bts-select {
  max-width: 500px;
  border: none;
  border-bottom: 1px solid #444444;
  background: none;
  background-color: transparent;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}

@media screen and (max-width: 900px) {
  .column-hide-small {
    display: none;
  }
}
