.db__options {
  &Wrap {
    padding: 150px 0 100px;
    text-align: center;
  }

  &List {
    display: flex;
    justify-content: space-around;

    @include clearfix;
  }

  &Item {
    float: left;
  }

  &Link {
    display: block;
    padding: 0 100px;

    @include transition();

    &:hover {
      opacity: .8;
    }
  }
  &Pic{}

  &Title {
    display: block;
    margin-top: 45px;
    font-weight: 600;
    font-size: 30px;
    color: $text-color-bg;
    text-align: center;
    text-transform: uppercase;
  }
}
