$margin1: 9px;
$margin2: 25px;
$margin3: 33px;

.backdrop-help {
  height: 100vh;

  .modal-dialog {
    right: 0;
    bottom: auto;
    width: 900px !important;
    margin: 20px auto;
    overflow: hidden;
  }
}

.help__h3 {
  margin-bottom: $margin1;
  font-weight: 600;
  font-size: 20px;
  color: $text-color;
  text-transform: uppercase;
}

.help__h4 {
  margin-bottom: $margin1;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  color: $text-color;
}

.help__h5 {
  margin-bottom: $margin1;
  font-weight: 600;
  font-size: 16px;
  color: $text-color;
}

.help__section {
  max-width: 93%;
  margin-bottom: $margin3;
  line-height: 24px;
  font-size: 16px;
  color: $text-color;
}

.help__important {
  margin-bottom: $margin3;

  &Title {
    margin-top: $margin2;
    margin-bottom: $margin1;
    line-height: 24px;
    font-size: 16px;
    color: #ff3030;
    text-transform: uppercase;
  }

  &Text {
    line-height: 24px;
    font-size: 16px;
    color: $text-color;
  }
}

.help__text {
  margin-bottom: $margin2;
}

.help__link {
  &List {
    margin-bottom: $margin2;
    margin-bottom: 31px;
  }

  &Li {
    display: block;
    margin-bottom: 16px;
  }

  font-weight: 500;
  font-size: 16px;
  color: $new-blue15;
  text-transform: uppercase;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.help__sectionSub {
  margin-bottom: $margin3;
  line-height: 20px;
  font-size: 14px;
  color: $text-color;

  .text {
    margin-bottom: 12px;
  }
}

.help__list {
  margin-top: 25px;
  padding-left: 20px;
  color: $new-blue15;
  list-style: disc;
  list-style-position: outside;

  li {
    margin-bottom: 17px;
    color: $text-color;
  }
}
