.dialog-login {
  position: relative;
  margin: 30px auto;
  padding-bottom: 90px;

  &.padding-bottom-30 {
    padding-bottom: 30px;
  }

  .h1 {
    padding-bottom: 18px;
    font-weight: 900;
    font-size: 36px;
    text-transform: none;

    .tm {
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
    }

    &.h1-fsz-28 {
      margin-bottom: 5px;
      font-size: 28px;
    }
  }

  .h2 {
    margin: -33px auto 38px;
    font-weight: 500;
    font-size: 22px;
    color: $h1-color;
    text-align: center;
  }

  .form {
    padding-bottom: 0;
  }

  .section__text {
    padding: 0 75px 30px;
    color: $text-color;

    &Title {
      margin: -40px 0 40px;
      font-weight: 600;
      font-size: 1.25rem;
      text-align: center;
    }

    &Item {
      margin-bottom: 20px;

      &Head {
        margin-bottom: 10px;
        font-weight: 600;
      }
    }

    p {
      margin: 0 0 15px;
    }
  }
}

.forgot__link {
  &Box {
    font-size: 0;
    text-align: right;
  }

  display: inline-block;
  padding-bottom: 6px;
  line-height: 10px;
  font-weight: 500;
  font-size: 13px;
  color: $mark-color;
  text-align: right;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.login__text {
  margin-bottom: 30px;
  padding: 0 70px;
  line-height: 1.25;
  font-weight: 500;
  font-size: 13px;
  color: $text-color;

  &.fsz-lg {
    font-size: 16px;

    p {
      margin-bottom: 15px;
    }
  }

  p {
    margin: 0 0 10px;
  }
}

.login__link {
  font-weight: 600;
  color: $mark-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.login__options {
  margin-top: 50px;

  @include clearfix;
}

.login__footer {
  padding: 60px 0 0;
  text-align: center;

  &Title {
    padding: 11px 15px 11px 0;
    font-weight: 500;
    color: $text-color;
  }

  &.small {
    padding: 10px 75px 30px;
  }
}

.ledger {
  width: 340px;
  margin: auto;
  text-align: center;

  &__item {
    display: block;
  }

  &__link {
    display: block;
    margin: 0 auto 70px;
    text-align: center;

    @include transition();

    &:hover {
      opacity: 0.6;
    }
  }

  &__pic {
    display: inline-block;
    vertical-align: middle;
  }
}

.verify {
  text-align: center;

  &Icon {
    display: inline-block;
    margin: 15px 0 25px;
    font-size: 50px;
    color: $color-second;
  }

  &Text {
    padding: 0 0 30px;
    line-height: 26px;
    font-size: 18px;
    color: $faded-color;
  }
}

.backup {
  padding: 0 80px;
  text-align: center;

  &Text {
    padding: 15px 0;
    line-height: 26px;
    font-size: 18px;
    color: $faded-color;

    p {
      margin-bottom: 10px;
    }

    &-padLg {
      padding: 50px 0 55px;
    }
  }

  &__options {
    @include clearfix;

    padding: 0 0 40px;
  }
}

.security {
  padding: 0 $inXPad;
  text-align: center;

  &Icon {
    display: inline-block;
    margin: 15px 0 25px;
    font-size: 50px;
    color: $color-second;
  }

  &Text {
    margin: 0 -50px;
    padding: 0 0 43px;
    line-height: 26px;
    font-size: 18px;
    color: $faded-color;
  }

  &__note {
    padding: 32px 0;
    line-height: 20px;
    font-size: 14px;
    color: $clear-color2;
    text-align: center;
  }

  &__options {
    padding: 50px 0;
    text-align: center;
  }
}

.recovered {
  padding: 0 60px;
  text-align: center;

  &Icon {
    display: inline-block;
    margin: 15px 0 25px;
    font-size: 50px;
    color: $color-second;
  }

  &Text {
    padding: 0 0 30px;
    line-height: 26px;
    font-size: 18px;
    color: $faded-color;
  }

  &Link {
    margin: 40px 0;
    font-weight: 600;
    font-size: 16px;
    color: $color-second;
    text-transform: uppercase;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &-top {
    .recoveredIcon {
      margin-top: 0;
    }

    .recoveredText {
    }
  }

  &Line {
    height: 1px;
    margin-bottom: 20px;
    background: $gray-color2;
  }
}

.passRecovery {
  padding: 0 70px;

  &Title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    color: $text-color;
    text-align: center;
  }

  &Text {
    font-size: 13px;
    color: $faded-color;

    p {
      margin-bottom: 10px;
    }
  }

  &Questions {
    margin-top: 50px;
    font-size: 14px;
    color: $text-color;

    &__item {
      margin-bottom: 40px;
    }

    &__line {
      margin-bottom: 7px;
    }
  }

  &__warn {
    max-width: 350px;
    margin: 50px auto;
    font-weight: 600;
    font-size: 16px;
    color: $red;
  }

  &__opt {
    display: flex;
    justify-content: space-around;
  }
}

.loginCreate {
  &__row {
    display: block;
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    padding-bottom: 4px;
    padding-left: 5px;
    font-weight: 500;
    font-size: 13px;
    color: #787e83;
  }

  &__fieldWrap {
    display: block;
    position: relative;
  }

  &__note1 {
    margin: 24px 0 20px;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
  }

  &__note2 {
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
  }

  &__note3 {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    text-align: center;
  }

  &__note4 {
    padding: 20px 0 0;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    text-align: center;
  }

  &__check {
    .customCheck__labelPseudo {
      padding-top: 7px;
      font-size: 16px;
    }
  }

  &__btnWrap {
    margin-bottom: 57px;
    text-align: center;

    &-2 {
      margin: 47px 0 0;
      text-align: center;
    }
  }

  &__btn {
    width: 240px;
    text-align: center;
  }

  &__copy {
    background: #818b95;
  }
}

.login__footerLink {
  display: inline-block;
  font-weight: 500;

  @include transition();

  &:hover {
    opacity: 0.6;
  }

  &Wrap {
    margin: 50px 0 20px;
    text-align: center;
  }
}

.login__footerNote {
  color: $text-color;

  &Wrap {
    margin: 20px 0;
  }
}
