.pG {
  &__section {
    &Wrap {
      @include clearfix;
    }

    padding: 20px;

    &Link {
      display: block;

      @include transition();

      &:hover {
        opacity: .8;
      }
    }

    &Pic {
      display: block;
      position: relative;
      text-align: center;
      overflow: hidden;

      &.lg {
        img {
          height: 410px;
        }
      }

      img {
        vertical-align: middle;
        width: auto;
        height: 285px;

        @include box-shadow($shadow);
      }
    }

    &Text {
      display: block;
      padding: 15px 5px;
      font-weight: 500;
      font-size: 20px;
      color: $text-color-bg;
      text-align: center;
    }
  }

  &__radio {
    &Wrap {
      padding: 0 0 20px;
    }

    &Item {
      display: inline-block;
      vertical-align: top;
      margin-right: 120px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__fieldSearchWrap {
    margin: 0 0 30px 17px;
  }
}

.table-pg-find {
  .tableCell {
    //outline: 1px solid;
    width: 20%;
    height: 62px;
  }
}

.table-pg-explore {
  .tableCell {
    //outline: 1px solid;
    width: 11%;
    height: 62px;

    &:nth-child(3),
    &:nth-child(4) {
      width: 16%;
    }
  }
}

.table-pg-db1 {
  .tableCell {
    min-width: 80px;
  }
}

.whiteList__title {
  margin-bottom: 15px;
  font-size: 20px;
}

.whiteList__text {
  margin-bottom: 30px;

  p {
    margin-bottom: 6px;
    line-height: 1.25;
    font-weight: 300;
    font-size: 16px;
  }
}

.pGCur__dd {
  &.dd {
    position: absolute;
    top: 0;
    right: -40px;
    bottom: 0;
    margin: auto;
  }

  .ddTrigger {
    height: 50px;
    padding: 0;
    line-height: 46px;

    &:hover {
      opacity: .6;
    }

    &::after {
      display: none;
    }

    &__text {
      display: block;
      min-width: 70px;
      height: auto;
      margin-right: 40px;
      padding: 0 10px;
      border: 2px solid $color-second;
      font-weight: 600;
      font-size: 16px;
      color: $color-add;
      text-align: center;
      text-transform: uppercase;
      background: #ffffff;

      @include border-radius(0 3px 3px 0);
    }

    &__icon {
      position: absolute;
      top: 0;
      right: 0;
      vertical-align: middle;
      width: 40px;
      margin: 0;
      line-height: 50px;
      text-align: right;
    }
  }

  .ddMenu {
    left: 100%;
    width: 150px;
  }
}

.pGBtns {
  .btn {
    margin: 0 15px 15px 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .btn + .btn {
    margin-left: 0;
  }
}

.pGExplore__dd {
  display: inline-block;
  vertical-align: middle;

  .ddTrigger {
    height: 50px;
    padding: 0;
    line-height: 46px;

    &:hover {
      opacity: .6;
    }

    &::after {
      display: none;
    }

    &__text {
      display: inline-block;
      height: auto;
      padding-right: 5px;
      font-size: 16px;
      color: #ffffff;
      text-align: center;

      @include border-radius(0 3px 3px 0);
    }

    &__icon {
      position: static;
      vertical-align: middle;
      margin: 0;
      line-height: 50px;
    }
  }

  .ddMenu {
    left: 0;
    width: 150px;
  }
}

.pG__section2 {
  &Title {
    margin: 60px 0;
    font-size: 64px;
    color: #ffffff;
  }

  &Wrap {
    margin-bottom: 80px;
    text-align: center;

    &In {
      @include clearfix;

      display: inline-block;
    }
  }

  float: left;
  margin: 20px 20px 20px 0;

  &:last-child {
    margin-right: 0;
  }

  &Link {
    display: block;
    position: relative;
    width: 500px;
    height: 500px;
    text-align: center;
    background: #141734;
    text-align-last: center;

    @include border-radius(20px);
    @include va_middle_out;
    @include transition();
  }

  &Pic {
    @include va_middle_in;

    img {
      vertical-align: middle;
    }
  }

  &LinkText {
    position: absolute;
    right: 0;
    bottom: 40px;
    left: 0;
    font-size: 24px;
    color: rgba(255, 255, 255, .6);

    &:hover {
      color: white;
    }
  }

  &Text {
    position: absolute;
    right: 0;
    bottom: 80px;
    left: 0;
    font-size: 24px;
    color: rgba(255, 255, 255, .4);
  }
}

.gamesHR {
  width: 100%;
  margin: 10px 0;
  border: 1px solid black;
}

@media (max-width: 1620px) {
  .pG__section2Link {
    width: 400px;
    height: 400px;
  }

  .pG__section2Pic {
    img {
      max-width: 80%;
    }
  }
}

@media (max-width: 1300px) {
  .pG__section2Link {
    width: 300px;
    height: 300px;
  }

  .pG__section2Pic {
    img {
      max-width: 60%;
    }
  }

  .pG__section2Text {
    bottom: 40px;
  }
}

@media (max-width: 1024px) {
  .pG__section2Link {
    width: 250px;
    height: 250px;
  }

  .pG__section2Pic {
    img {
      max-width: 60%;
    }
  }
}
