.Box {
  margin: 10px;
  padding: 0;
  border: 2px;
  background-color: #333333;
  border-color: #888888;
  border-style: inset;
  /* border-radius: 12px; */
}

.BoxBody {
  margin: 0;
  padding: 10px;
  color: #50d2c2; /* blue */
}


.BoxHeader,
.BoxFooter {
  padding: 16px;
  text-align: center;
  background-color: #383838;
}

.BoxHeader h4,
.BoxFooter h4 {
  margin: 0;
  font-weight: bold;
  color: #fcab53; /* orange */
}


.BoxBody .icon svg path {
  fill: #50d2c2; /* blue */
}


.accordion {
  border: none;
}

.accordion-title {
  line-height: 32px;
  font-size: 23px;
  color: #aeabff; /* purple */
  text-align: center;
  background-color: #333333;
}

.is-active > .accordion-title {
  color: #fcab53; /* orange */
  background-color: #383838;
}

.accordion-title:hover {
  background-color: #383838;
}
